.container-xl.header {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 25px;
}
th a {
    color: white;
}
th a:hover {
    color: #e9ecef;
}
th.text-cell {
    width: 450px;
}
th.status-cell {
    width: 150px;
}

body > div.container-lg.add-form form{
    display: flex;
    flex-direction: column;
}
.btn.btn-primary.form-btn {
    align-self: flex-end;
}
@media (min-width: 550px){
    body > div.container-lg.add-form {
        width: 500px;
    }
}
